body{
    background-color: indianred;
}
#title{
    text-align: center;
    background-color: honeydew;
}
#img{
    margin-left: 550px;
    height: 300px;
    width: 300px;
}
#adress{
    text-decoration:underline maroon;
    text-align: center;  
    /* background-color: wheat;   */
    background: darkkhaki;
    }
.ending{
    text-align: center;
}
#ending{
    padding: 10px;
}